# Caddy configuration
{$DOMAIN_NAME} {
    # Chuyển hướng các request bắt đầu bằng /api/ xuống Backend
    handle /api/* {
        reverse_proxy backend:4000
    }

    # Các request còn lại chuyển về Frontend (Next.js)
    handle {
        reverse_proxy frontend:3000
    }
}
